@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.navbar-brand img {
  height: 40px;
}

#users {
  margin-right: 10px;
  color: white;
}

#login {
  position: fixed;
  top: 100px;
  display: none;
}

#checkout {
  margin-right: 10px;
}

.showlist {
  position: fixed;
  right: 0px;
  display: none;
  z-index: 10;
}
.showlist .container .row {
  margin-bottom: 10px;
}
.showlist .container .row .name {
  color: #0075C2;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.showlist .container .row .qty {
  color: #e44445;
}
.showlist .btn {
  width: 92%;
  margin: 0px 4%;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 15px;
}




footer {
  text-align: center;
  color: #FFF;
  text-shadow: 0 0 15px #00D;
  padding: 100px 0px;
  background-image: url(https://image.freepik.com/free-photo/bar-magnet-with-iron-powder-magnetic-field_127345-195.jpg);
  background-size: cover;
  height: 300px;
  background-attachment: fixed;
}
footer input {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
footer .bg-primary {
  margin-top: 6px;
  color: white;
}

/*Form手動伺服器自定義驗證用 覆蓋Bootstrap的自動驗證*/
.formCheckInvalid {
	border-color: #dc3545 !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(.375em + .1875rem) center !important;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}
.formCheckInvalid:valid ~ .valid-feedback{
	display: none;
}

.formCheckValid {
	border-color: #198754 !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(.375em + .1875rem) center !important;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}
.formCheckValid:invalid ~ .invalid-feedback{
	display: none;
}

.formCheckDefault {
	border-color: #ced4da !important;
	background-image: none !important;
}
.formCheckDefault:invalid ~ .invalid-feedback{
	display: none;
}
.formCheckDefault:valid ~ .valid-feedback{
	display: none;
}
